@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source Han Serif TC";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/SourceHanSerifTC-Bold.otf");
}

@font-face {
  font-family: "Source Han Serif TC";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/SourceHanSerifTC-SemiBold.otf");
}

:root {
  --doc-height: 100%;
}

html,
body {
  height: var(--doc-height);
  position: relaitve;
  color: rgba(255, 255, 255, 0.87);
  background: #242424;
  font-family: "Source Han Serif TC", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
